<?xml version='1.0' encoding='ASCII'?>
<model>
  <name>version2_C4D_20_map3-height_height_200_distancex_2050_distancey_2050</name>
  <version>3.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>HT-hlf</name>
    <email>htbao123456@163.com</email>
  </author>
  <description>world gen bitch</description>
  <terrain_size>20.5 20.5 2.0</terrain_size>
  <heightmap_size>1025 1025</heightmap_size>
</model>
